* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.logo {
    position: relative;
    max-width: 100px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-left: 40px;

}

.main-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content .textbox {
    position: relative;
    max-width: 500px;
}

.main-content .textbox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-content .textbox h2 span {
    color: #017143;
    font-size: 1.2em;
}

.main-content .textbox a {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 20px;
    background: #017143;
    border-radius: 30px;
    color: #fff;
}

.main-content .imgbox {
    position: relative;
    max-width: 500px;
    max-height: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    padding-right: 40px;

}

.main-content .imgbox pic {
    max-width: 100%;
    max-height: 100%;
}

.footer-img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);
    display: flex;
}

.footer-img li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}

.footer-img li img {
    max-width: 60px;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.footer-img :hover {
    transform: scale(1.1) translateY(-10px);
}

.socials {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials li {
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
    filter: invert(1);
}

.circle {
    position: absolute;
    background: #017143;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
}

@media screen and (max-width: 600px) {
    header ul {
        display: none;
    }

    header ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f9f9f9;
        position: absolute;
        top: 100%;

        left: 0;
        width: 100%;
        z-index: 1;
    }

    header ul.active li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}